{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        {% if user.is_authenticated %}
        <section class="page__welcome welcome">
            <div class="welcome__info">
                <h1 class="welcome__heading">УПС!</h1>
                <p class="welcome__text" style="text-align:center;">Вы уже зарегистрированы!</p>
            </div>
            <div class="welcome__button button"><a href="{% url 'home' %}" class="welcome__link">На главную</a></div>
            <img class="welcome__image"src="{% static 'img/404.png' %}" alt="error_404">
        </section>
        {% else %}
        <section class="form-section">
            <form class="page__form form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Регистрация</legend>
                        {% for field in user_form %}
                            <div>
                                <span class="form__error">{{field.errors}}</span>
                                {{field.label_tag}}
                                {{field}}
                            </div>
                        {% endfor %}
                        {% comment %}<div>
                            <label>Логин:<input type="text" name="username" value="" placeholder="Имя" required></label>
                        </div>
                        <div>
                            <label>Почта:<input type="email" name="email" value="" placeholder="Email" required></label>
                        </div>
                        <div>
                            <label>Пароль:<input type="password" name="password" value="" placeholder="Пароль" required></label>
                        </div>{% endcomment %}
                        <button class="register-button button" type="submit">Зарегистрироваться</button>
                </fieldset>
            </form>
            {% comment %}<img class="form__img" src="{% static 'tickets/img/signup.png' %}" alt="happy-signup">{% endcomment %}
        </section>
        {%endif%}
    </div>
</main>
{% endblock %}