{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section class="page__about welcome">
            <div class="welcome__info">
                <h1 class="welcome__heading">О нас</h1>
                <p class="welcome__text"><span class="accent">Ticketee!</span> — маленькая компания, которая продаёт билеты на самые интересные события в Москве!
                <p class="welcome__text">Мы полностью независимы. Это означает, что мы должны отвечать только перед нашими клиентами. Это позволяет нашим сотрудникам и компании расти, не ставя под угрозу наши ценности и не теряя нашей души.</p>
                </p>
            </div>
            <img class="welcome__image" src="{% static 'img/us.png' %}" alt="us">
        </section>
    </div>
</main>
{% endblock %}