{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section class="page__welcome welcome">
            <div class="welcome__info">
                <h1 class="welcome__heading">{% trans 'Билеты на лучшие события Москвы!' %} 😊</h1>
                <p class="welcome__text">{% trans 'Все ваши потребности в развлечениях под одной виртуальной крышей с билетами в театр, концерты, спорт, семейные мероприятия, клубы и многое другое. Быстрее бронируйте билет, пока это не сделал кто-то другой!'%}</p>
            </div>
            <div class="welcome__button button"><a href="{% url 'events' %}" class="welcome__link">{% trans 'Купить билеты!' %}</a></div>
            <img class="welcome__image" src="{% static 'img/star.png' %}" alt="exciting-star">
        </section>
        {% comment %} there will be some code in the future... {% endcomment %}
    </div>
</main>
{% endblock %}