{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block main %}
<main class="page">
    <div class="page__container _container">
        <section class="page__event-details">
            <img src="{{event.photoURL}}" alt="" class="event-details__photo">
            <div class="event-details__info">
                <h2 class="event-details__title">{{event.name}}</h2>
                <a href="{{event.category.get_absolute_url}}" class="event-details__category">{{event.category}}</a>
                <p class="event-details__description">{{event.description|linebreaksbr}}</p>
                <div class="event-details__container">
                    <p class="event-details__date details"><span class="accent">{% trans 'Дата'%}:</span> {{event.date}}</p>
                    <p class="event-details__location details"><span class="accent">{% trans 'Место'%}:</span> {{event.location}}</p>
                    <p class="event-details__time details"><span class="accent">{% trans 'Время'%}:</span> {{event.time}}</p>
                </div>
                <p class="event-details__price">{% trans 'Цена'%} {{event.price}} {% trans 'руб'%}.</p>
                {% if event.is_available %}
                    {% comment %}<a href="{{event.get_absolute_url}}" class="event-details__button button">Купить билет 🏷️</a>{% endcomment %}
                    <form class="event-details__form" method="POST" action="{% url 'add-to-my-events' event.slug %}">
                        {% csrf_token %}
                        <input class="event-details__input" min="1" value=1 type="number" name="quantity">
                        <button class="event-details__button button" type="submit"> {% trans 'Купить билет' %} 🏷️
                    </form>
                {% else %}
                    <a class="event-details__button event-details__button--disabled">SOLD OUT 😔</a>
                {% endif %}
            </div>
        </section>
    </div>
</main>
{% endblock main %}